.footer{
    font-family: $main-font;
    .foot-first{
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        ul{
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style-type: none;
            strong{
                font-size: 22px;
            }
            .icons{
                cursor: pointer;
            }
          li{
           cursor: pointer;
          }
          li:hover{
            color: rgba(0, 0, 0, 0.685);
          }
        }
    }
}